@media screen and (min-width: 769px) {
  .menu-checkbox,
  .side-menu {
    display: none;
  }

  nav {
    justify-content: space-around;
  }

  nav .desktop-menu {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }

  nav .desktop-menu ul li,
  nav .desktop-menu ul li .accordion-item {
    position: relative;
    display: inline;
    padding: 15px;
  }

  nav .desktop-menu ul li a,
  nav .desktop-menu ul li .accordion-item a {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }

  nav .right-menu .mobile-menu {
    display: none;
  }

  .accordion-item {
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
  }

  .accordion-header {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }

  .accordion-content {
    max-height: 0;
    position: absolute;
    top: 90%;
    left: 5px;
    overflow: hidden;
    background-color: var(--body-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }

  .accordion-item:hover .accordion-content {
    max-height: 200px;
    padding: 10px 15px;
  }

  .list-yoga {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-areas: "header image paragraph next";
    padding: 30px;
  }

  .list-yoga h1 {
    grid-area: header;
    align-self: center;
    font-size: 40px;
    font-weight: 400;
  }

  .list-yoga-paragraph {
    grid-area: paragraph;
    align-self: center;
    position: relative;
    margin-left: 20px;
  }

  .list-yoga-paragraph img {
    position: absolute;
    top: 20px;
    left: -20px;
  }

  .list-yoga-paragraph p {
    padding-top: 50px;
  }

  .list-yoga-image {
    grid-area: image;
    width: 325px;
  }

  .list-yoga-image img {
    width: 290px;
    position: absolute;
    left: 20px;
    bottom: 10px;
  }

  .next {
    grid-area: next;
    align-self: center;
  }

  .bring-happiness {
    display: grid;
    margin: 30px;
    grid-template-areas:
      "health-fitness header header"
      "health-fitness paragraph paragraph"
      "health-fitness anchor anchor"
      "health-fitness . .";
  }

  .bring-happiness h1 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 80px;
    margin-left: 30px;
    text-align: start;
  }

  .bring-happiness p {
    margin: 30px;
  }

  .bring-happiness a {
    justify-self: start;
    margin-left: 25px;
  }

  .health-fitness .heart-rate {
    top: 78px;
    left: 25px;
  }

  .health-fitness .free-courses {
    left: 331px;
    bottom: 40px;
  }

  .health-fitness-image {
    content: url("../assets/health-fitness-desktop.png");
  }

  .introduction-section {
    display: flex;
    justify-content: space-between;
  }

  #home-yoga {
    width: 42%;
    margin-right: 60px;
  }

  .headline {
    margin-left: 20%;
  }

  #intro-text {
    width: 50%;
  }

  .headline h1 {
    max-width: 600px;
    font-size: 96px;
    font-weight: 300;
    color: var(--title-color);
  }

  .headline #yoga-text-icon {
    width: 238px;
    transform: rotate(10deg);
    margin-left: 20px;
    align-self: center;
  }

  .headline #star-icon1 {
    width: 95px;
  }

  .br-mb {
    display: flex;
    height: 150px;
  }

  .br-pc {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #home-circle1 {
    margin-left: 15%;
  }

  #home-circle2 {
    display: none;
  }

  .anything-section {
    display: grid;
    margin: 30px;
    grid-template-areas:
      "header header . trainer-img "
      "paragraph paragraph . trainer-img"
      "anchor anchor anchor trainer-img "
      ". . . trainer-img";
  }

  .trainer-img {
    content: url("../assets/exercise-group-desktop.png");
  }

  .anything-section h1 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 80px;
    text-align: start;
  }

  .anything-section p {
    margin-top: 30px;
  }

  .anything-section .home-button {
    margin-left: 0px;
  }

  .trainer-img {
    max-width: 520px;
  }

  .trainer-img-wrapper .high-quality-video span,
  .trainer-img-wrapper .professional-trainer span {
    font-size: 16px;
  }

  .trainer-img-wrapper .high-quality-video {
    top: 80px;
    right: 30px;
  }

  .trainer-img-wrapper .professional-trainer {
    bottom: 60px;
    left: 35px;
  }

  .intro-description {
    margin-left: 20%;
    width: 417px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
  }

  .home-button {
    grid-area: anchor;
    width: 214px;
    height: 56px;
    margin-top: 40px;
    margin-left: 20%;
    color: var(--white-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #ff52af, #9f53ff);
    border: none;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #about-class {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 20%;
    width: 280px;
  }

  #about-class h3 {
    font-size: 56px;
    font-weight: lighter;
    color: var(--title-color);
  }

  #about-class p {
    font-size: 14px;
    color: var(--title-color);
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .newsletter-section {
    padding: 0 10%;
  }

  .newsletter-wrapper {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .newsletter-section h1 {
    font-size: 56px;
    font-weight: 100;
    text-align: center;
  }

  .newsletter-section p {
    width: 50%;
  }

  .newsletter-form {
    position: relative;
    height: 72px;
    max-width: 530px;
    min-width: 400px;
    margin: 30px auto;
  }

  .newsletter-form input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 64px;
  }

  ::placeholder {
    font-size: 13px;
    color: var(--text-color-light);
  }

  .newsletter-button {
    position: absolute;
    right: 7.5px;
    bottom: 8.5px;
    width: 165px;
    height: 56px;
    color: var(--white-color);
    box-shadow: 0 10px 20px rgba(159, 83, 255, 0.4);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: var(--gradient-color);
    border: none;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  footer {
    display: grid;
    gap: 60px;
    grid-template-columns: [start] 30% [middle] auto [end];
    justify-content: space-evenly;
    background-color: var(--first-color-dark);
    padding: 50px 20px 30px 20px;
    grid-template-areas:
      "intro address contact office"
      "intro address contact office"
      "divider divider divider divider"
      "social-medias social-medias copyright copyright";
  }

  footer .logo {
    grid-area: intro;
  }

  footer .logo .description {
    margin-top: 20px;
  }

  footer .address {
    grid-area: address;
  }

  footer .contact {
    grid-area: contact;
  }

  footer .office {
    grid-area: office;
  }

  footer hr {
    grid-area: divider;
    border: none;
    height: 1px;
    background-color: var(--text-color-light);
  }

  footer .social-medias {
    display: flex;
    gap: 25px;
    justify-content: start;
  }

  footer .copyright {
    grid-area: copyright;
    display: flex;
    justify-content: end;
  }
}
