* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
}

:root {
  --first-color-light: #e5d9fd;
  --first-color-dark: #1e0849;
  --title-color: #220953;
  --text-color: #4b3e65;
  --text-color-light: #a197b4;
  --white-color: #ffffff;
  --body-color: #f5f0ff;
  --container-color: #ffffff;
  --dark-title-color: #d1c0f1;
  --dark-text-color: #a094b8;
  --dark-body-color: #14092a;
  --dark-container-color: #372a51;
  --gradient-color: linear-gradient(73.19deg, #ff52af 11.6%, #9f53ff 83.86%);
}

body {
  background-color: #f5f0ff;
}

nav {
  display: flex;
  padding: 20px;
}

.list-yoga {
  display: grid;
  grid-template-columns: [start] 80px [midle] auto;
  grid-template-areas:
    "header image"
    "paragraph paragraph"
    "next next";
  padding: 30px;
}

.list-yoga h1 {
  grid-area: header;
  align-self: center;
  color: var(--title-color);
  font-size: 28px;
  font-weight: 500;
}

.list-yoga-image {
  grid-area: image;
  background-color: #e5d9fd;
  height: 140px;
  margin: 60px 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  position: relative;
}

.list-yoga-image img {
  width: 80%;
  position: absolute;
  left: 35px;
  bottom: 20px;
}

.list-yoga-paragraph {
  grid-area: paragraph;
  position: relative;
}

.list-yoga-paragraph img {
  position: absolute;
  top: -30px;
}

.list-yoga-paragraph p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 60px;
  text-indent: 20px;
}

.next {
  grid-area: next;
  display: flex;
  justify-content: center;
  position: relative;
}

.next img {
  position: absolute;
}

.next .list-ellipse:last-child {
  transform: rotate(18deg);
}

.next span {
  width: 60px;
  margin: 45px;
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.right-arrow {
  margin-left: 7px;
  margin-top: 3px;
}

.bring-happiness h1 {
  grid-area: header;
  text-align: center;
  color: var(--title-color);
}

.bring-happiness p {
  grid-area: paragraph;
  color: var(--text-color);
}

.bring-happiness a {
  grid-area: anchor;
  width: 158px;
  height: 56px;
  border-radius: 64px;
  background: var(--gradient-color);
  padding: 17px 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}

.bring-happiness .right-white-arrow {
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
}

.health-fitness {
  grid-area: health-fitness;
  position: relative;
}

.health-fitness .heart-rate,
.health-fitness .free-courses {
  position: absolute;
  display: grid;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}

.health-fitness .heart-rate {
  grid-auto-flow: column;
  top: 70px;
  left: -10px;
  width: 155px;
  height: 60px;
  grid-template-areas:
    "heart header header"
    "heart bpm bpm";
}

.health-fitness .heart-rate .heart-icon {
  grid-area: heart;
  align-self: center;
  background-color: #ffe6e5;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.health-fitness .heart-rate h3 {
  grid-area: header;
}

.health-fitness .heart-rate span {
  grid-area: bpm;
}

.health-fitness .heart-rate h3,
.health-fitness .free-courses h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
}

.health-fitness .heart-rate span,
.health-fitness .free-courses span {
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
  font-size: 16px;
}

.health-fitness .free-courses {
  width: 120px;
  height: 60px;
  left: 210px;
  bottom: 25px;
}

.introduction-section {
  display: flex;
  margin-top: 50px;
}

img {
  object-fit: contain;
}

/* Mobile and Tablet screens */
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav .right-menu {
    width: 100px;
    display: flex;
    justify-content: space-around;
  }

  nav .desktop-menu {
    display: none;
  }

  .bring-happiness {
    display: grid;
    margin: 20px;
    grid-template-areas:
      "header header header"
      "paragraph paragraph paragraph"
      "anchor anchor anchor"
      "health-fitness health-fitness health-fitness";
  }

  .bring-happiness h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .bring-happiness p {
    text-align: center;
    margin-top: 25px;
  }

  .bring-happiness a {
    margin-top: 30px;
    justify-self: center;
  }

  .health-fitness {
    margin-top: 40px;
    justify-self: center;
  }

  .health-fitness .heart-rate {
    top: 70px;
    left: -10px;
  }

  .health-fitness .free-courses {
    left: 210px;
    bottom: 25px;
  }

  .health-fitness-image {
    content: url("../assets/health-fitness-mobile-tablet.png");
  }

  .introduction-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }

  #home-yoga {
    min-width: 320px;
    /* margin: 8%; */
  }

  #intro-text {
    display: flex;
    flex-direction: column;
  }

  .headline h1 {
    max-width: 320px;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    color: var(--title-color);
  }

  .headline #yoga-text-icon {
    width: 123px;
    transform: rotate(10deg);
    margin-left: 20px;
    align-self: center;
  }

  .headline #star-icon1 {
    position: absolute;
    /* left: 13%; */
    right: 90px;
    width: 52px;
  }

  .intro-description {
    margin-top: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--text-color);
  }

  #home-circle1 {
    display: none;
  }

  #home-circle2 {
    width: 16px;
    align-self: flex-end;
  }

  #home-button {
    width: 214px;
    height: 56px;
    margin: 40px auto 0 auto;
    color: var(--white-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #ff52af, #9f53ff);
    border: none;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #about-class {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 30px auto;
    width: 200px;
  }

  #about-class h3 {
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
    color: var(--title-color);
  }

  #about-class p {
    font-size: 13px;
    color: var(--title-color);
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .br-mb {
    display: flex;
    justify-content: center;
  }

  .br-pc {
    position: relative;
  }
}

/* Desktop screens */
@media screen and (min-width: 769px) {
  nav {
    justify-content: space-around;
  }

  nav .desktop-menu {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }

  nav .desktop-menu ul li {
    display: inline;
    padding: 15px;
  }

  nav .desktop-menu ul li a {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }

  nav .right-menu .mobile-menu {
    display: none;
  }

  .bring-happiness {
    display: grid;
    margin: 30px;
    grid-template-areas:
      "health-fitness header header"
      "health-fitness paragraph paragraph"
      "health-fitness anchor anchor"
      "health-fitness . .";
  }

  .bring-happiness h1 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 80px;
    margin-left: 30px;
    text-align: start;
  }

  .bring-happiness p {
    margin: 30px;
  }

  .bring-happiness a {
    justify-self: start;
    margin-left: 25px;
  }

  .health-fitness .heart-rate {
    top: 78px;
    left: 25px;
  }

  .health-fitness .free-courses {
    left: 331px;
    bottom: 40px;
  }

  .health-fitness-image {
    content: url("../assets/health-fitness-desktop.png");
  }

  .introduction-section {
    display: flex;
    justify-content: space-between;
  }

  #home-yoga {
    width: 42%;
    margin-right: 60px;
  }

  .headline {
    margin-left: 20%;
  }

  #intro-text {
    width: 50%;
  }

  .headline h1 {
    max-width: 600px;
    font-size: 96px;
    /* font-size: 10vw; */
    font-weight: 300;
    color: var(--title-color);
  }

  .headline #yoga-text-icon {
    width: 238px;
    transform: rotate(10deg);
    margin-left: 20px;
    align-self: center;
  }

  .headline #star-icon1 {
    width: 95px;
  }

  .br-mb {
    display: flex;
    height: 150px;
  }

  .br-pc {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #home-circle1 {
    margin-left: 15%;
  }

  #home-circle2 {
    display: none;
  }

  .intro-description {
    margin-left: 20%;
    width: 417px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
  }

  #home-button {
    width: 214px;
    height: 56px;
    margin-top: 40px;
    margin-left: 20%;
    color: var(--white-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #ff52af, #9f53ff);
    border: none;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #about-class {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 20%;
    width: 280px;
  }

  #about-class h3 {
    font-size: 56px;
    font-weight: lighter;
    color: var(--title-color);
  }

  #about-class p {
    font-size: 14px;
    color: var(--title-color);
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
}
