* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
}

:root {
  --first-color-light: #e5d9fd;
  --first-color-dark: #1e0849;
  --title-color: #220953;
  --text-color: #4b3e65;
  --text-color-light: #a197b4;
  --white-color: #ffffff;
  --body-color: #f5f0ff;
  --container-color: #ffffff;
  --dark-title-color: #d1c0f1;
  --dark-text-color: #a094b8;
  --dark-body-color: #14092a;
  --dark-container-color: #372a51;
}

body {
  background-color: #f5f0ff;
}

nav {
  display: flex;
  padding: 20px;
}

/* Mobile and Tablet screens */
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav .right-menu {
    width: 100px;
    display: flex;
    justify-content: space-around;
  }

  nav .desktop-menu {
    display: none;
  }
}

/* Desktop screens */
@media screen and (min-width: 769px) {
  nav {
    justify-content: space-around;
  }

  nav .desktop-menu {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }

  nav .desktop-menu ul li {
    display: inline;
    padding: 15px;
  }

  nav .desktop-menu ul li a {
    color: #220953;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }

  nav .right-menu .mobile-menu {
    display: none;
  }
}
