@media screen and (max-width: 768px) {
  .menu-checkbox {
    display: none;
  }

  .side-menu {
    position: fixed;
    right: -280px;
    width: 280px;
    height: 100%;
    padding: 18px 33px 0 40px;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--title-color);
    transition: right 0.3s ease; /* how to slide */
    z-index: 999;
    display: flex;
    flex-direction: column;
  }

  .close-menu {
    align-self: flex-end;
  }

  /* The contents of menu */
  .side-menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
  }

  .side-menu ul li {
    margin: 70px 0;
  }

  .side-menu ul li:first-child {
    margin-top: 20px;
  }

  .side-menu ul li a {
    color: var(--title-color);
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .side-menu ul li:first-child a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* When the menu is checked */
  .menu-checkbox:checked ~ .side-menu {
    right: 0; /* slide-in */
  }

  nav {
    justify-content: space-between;
  }

  nav .right-menu {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav .desktop-menu {
    display: none;
  }

  .list-yoga {
    display: grid;
    grid-template-columns: [start] 20% [middle] auto;
    grid-template-areas:
      "header image"
      "paragraph paragraph"
      "next next";
    padding: 30px;
  }

  .list-yoga h1 {
    grid-area: header;
    align-self: center;
    font-size: 28px;
    font-weight: 500;
  }

  .list-yoga-image {
    grid-area: image;
  }

  .list-yoga-paragraph {
    grid-area: paragraph;
    position: relative;
  }

  .list-yoga-paragraph img {
    position: absolute;
    top: -30px;
  }

  .list-yoga-paragraph p {
    text-indent: 20px;
  }

  .list-yoga-image img {
    width: min(300px, 85%);
    position: absolute;
    left: 35px;
    bottom: 20px;
  }

  .bring-happiness {
    display: grid;
    margin: 20px;
    grid-template-areas:
      "header header header"
      "paragraph paragraph paragraph"
      "anchor anchor anchor"
      "health-fitness health-fitness health-fitness";
  }

  .bring-happiness h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .bring-happiness p {
    text-align: center;
    margin-top: 25px;
  }

  .bring-happiness a {
    margin-top: 30px;
    justify-self: center;
  }

  .health-fitness {
    margin-top: 40px;
    justify-self: center;
  }

  .health-fitness .heart-rate {
    top: 70px;
    left: -10px;
  }

  .health-fitness .free-courses {
    left: 210px;
    bottom: 25px;
  }

  .health-fitness-image {
    content: url("../assets/health-fitness-mobile-tablet.png");
  }

  .introduction-section {
    display: grid;
    grid-template-areas:
      "header1"
      "header2"
      "header3"
      "paragraph"
      "circle"
      "button"
      "about-class"
      "home-yoga";

    padding: 0 30px 0 7%;
    gap: 10px;
    margin-bottom: 100px;
  }

  .home-yoga-field {
    grid-area: home-yoga;
    width: 100%;
    height: auto;
    max-width: 600px;
    min-width: 350px;
    object-fit: contain;
  }

  .header1-field {
    grid-area: header1;
  }

  .header1-field h1,
  .header2-field h1,
  .header3-field h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 44px;
    font-weight: lighter;
    color: var(--title-color);
  }

  .header2-field {
    grid-area: header2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .header2-field h1 {
    margin: 0;
  }

  #rotated {
    align-self: center;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 5px;
    align-items: center;
    width: 115px;
    height: 68px;
    text-align: center;
    border-radius: 8px;
    transform: rotate(10deg);
    background: var(--gradient-color);
    color: var(--white-color);
  }

  #star-icon1 {
    display: none;
  }

  #star-icon2 {
    width: 52px;
    position: absolute;
    left: calc(50% - 135px);
  }

  .header3-field {
    grid-area: header3;
  }

  .circle-field {
    grid-area: circle;
    width: 16px;
    position: relative;
    left: 70%;
  }

  .paragraph-field {
    grid-area: paragraph;
    width: 90%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: var(--text-color);
  }

  .button-field {
    grid-area: button;
  }

  .home-button {
    width: 206px;
    height: 56px;
    color: var(--white-color);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #ff52af, #9f53ff);
    border: none;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .button-field .home-button {
    margin: 0 auto;
  }

  .about-class-field {
    margin-top: 30px;
    margin-bottom: 50px;
    grid-area: about-class;
    display: flex;
    justify-content: center;
    gap: 70px;
  }

  .about-class-field h2 {
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
    color: var(--title-color);
  }

  .about-class-field h3 {
    font-size: 13px;
    font-weight: normal;
    color: var(--title-color);
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .anything-section {
    display: grid;
    margin: 20px;
    grid-template-areas:
      "header header header"
      "paragraph paragraph paragraph"
      "anchor anchor anchor"
      "trainer-img trainer-img trainer-img";
  }

  .trainer-img {
    content: url("../assets/exercise-group-mobile.png");
  }

  .anything-section h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .anything-section p {
    text-align: center;
    margin-top: 25px;
  }

  .anything-section a {
    margin-top: 30px;
    justify-self: center;
  }

  .trainer-img-wrapper {
    margin-top: 40px;
    justify-self: center;
  }

  .trainer-img-wrapper .high-quality-video span,
  .trainer-img-wrapper .professional-trainer span {
    font-size: 13px;
  }

  .trainer-img-wrapper > div > img {
    width: 24px;
  }

  .trainer-img-wrapper .high-quality-video {
    top: 20px;
    right: -10px;
  }

  .trainer-img-wrapper .professional-trainer {
    bottom: 30px;
    left: -10px;
  }

  .newsletter-section {
    padding: 0 30px;
  }

  .newsletter-wrapper {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .newsletter-section h1 {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
  }

  .newsletter-section p {
    width: 80%;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    /* max-width: 530px;
    min-width: 400px; */
    margin: 30px auto;
  }

  .newsletter-form input {
    width: 100%;
    height: 64px;
    padding: 0 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 64px;
  }

  ::placeholder {
    font-size: 12px;
    color: var(--text-color-light);
  }

  .newsletter-button {
    width: 100%;
    height: 64px;
    color: var(--white-color);
    box-shadow: 0 10px 40px rgba(76, 38, 122, 0.3);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: var(--gradient-color);
    border: none;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--first-color-dark);
    padding: 50px 20px 30px 20px;
  }

  footer .description {
    width: 217px;
    margin-top: 15px;
  }

  footer h3 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
  }

  footer span {
    display: block;
    font-size: 15px;
  }

  footer .social-medias {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 20px 0;
  }

  footer .copyright span {
    text-align: center;
    font-size: 13px;
  }

  footer hr {
    border: none;
    height: 1px;
    background-color: var(--text-color-light);
  }

  footer p,
  footer span {
    color: var(--text-color-light);
  }
}
